$color-primary: #996f20;
$color-text1: lightgray;
$bordersize: 2mm;

.obg-primary {
	background-color: #efb13e !important;
}

.obg-secondary {
	background-color: #efb13e !important;
}
.obg-danger {
	background-color: #ff5e00 !important;
}
.obg-warning {
	background-color: #ffb732 !important;
}
.obg-success {
	background-color: #19c213 !important;
}

body {
	overflow-x: hidden;
	user-select: none;
}

.container-box {
	display: block;
	width: 100vw;
	border: thick double #828282;
	overflow-x: hidden;
}

.map-container {
	display: inline-block;
	width: 80%;
	height: calc(100vh - 0px);
	user-select: none;
	padding: 0;
	overflow: auto;
}

.tools-container {
	display: inline-block;
	height: calc(100vh - 0px);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.tools-title {
	margin: 0;
	padding: 0;
	border: $bordersize ridge $color-primary;
	background-color: #313131;
	color: $color-text1;
	text-align: center;
}

.menu-link {
	display: inline !important;
	text-decoration: none;
	color: $color-text1;
	letter-spacing: 2px;
	&:hover {
		letter-spacing: 1.5px;
		color: #ebce0d;
		font-weight: bold;
	}
}

.button-bg-none {
	background-color: transparent;
	border: none;
}

.brick {
	width: 100%;
	display:inline-block;
	background-color: #0a0a0a;
	background-image: cover !important;
	border: 1px solid #141414;
	margin: 0px;
	padding: 0px;
	line-height: 0;
	letter-spacing: 0;
}

.map-row {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.btn-minw1 {
	width: 100%;
	min-width: 60px;
	margin: 2px;
}

.text-small {
	font-size: 1rem;
}

.text-small-2 {
	font-size: 0.7rem;
}

.data-line > div {
	min-height: 40px;
}

$listPicSize: 48px;

.list-pic-player {
	width: $listPicSize;
	&:hover{
		cursor: pointer;
	}
}

.list-pic-direction {
	width: $listPicSize;
	&:hover{
		cursor: pointer;
	}
}

.list-pic-wall {
	width: $listPicSize;
	&:hover{
		cursor: pointer;
	}
}

.list-pic-block {
	width: $listPicSize;
	&:hover{
		cursor: pointer;
	}
}

.list-pic-object {
	width: $listPicSize;
	&:hover{
		cursor: pointer;
	}
}

.list-pic-creature {
	width: $listPicSize;
	&:hover{
		cursor: pointer;
	}
}

.list-pic-sky {
	width: $listPicSize * 2.7;
	&:hover{
		cursor: pointer;
	}
}

.list-pic-ceiling, .list-pic-floor {
	width: $listPicSize * 2.7;
	height: 19px;
	background-size: cover;
	background-repeat: repeat-x;
}

.selected-pic {
	width:92;
	&:hover{
		cursor: pointer;
	}
}

$blockBorderColor: olive;
$blockColor: #b8b800;

.block-90-borders {
	border-top: 5px solid $blockBorderColor !important;
	border-bottom: 5px solid $blockBorderColor !important;
}

.block-0-borders {
	border-left: 5px solid $blockBorderColor !important;
	border-right: 5px solid $blockBorderColor !important;
}

.block-90-borders2 {
	background-color: $blockBorderColor;
	margin-top: 5px solid $blockColor !important;
	margin-bottom: 5px solid $blockBorderColor !important;
	padding-top: 5px solid $blockColor !important;
	padding-bottom: 5px solid $blockBorderColor !important;
	background-color: deeppink !important;
}

.block-0-borders2 {
	background-color: $blockBorderColor;
	margin-left: 5px solid $blockColor !important;
	margin-right: 5px solid $blockBorderColor !important;
	padding-top: 5px solid $blockColor !important;
	padding-bottom: 5px solid $blockBorderColor !important;
	background-color: deeppink !important;
}

.bg-disabled {
	background-color: #b8b8b8 !important;
	border-color: gray !important;
}

.white-border {
	border: 3px solid white !important;
}

#map-selector {
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 5px;
	row-gap: 5px;
}
	#map-selector .form-check {
		text-align: center;
	}

.music-selector {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 5px;
	row-gap: 5px;
	margin-bottom: 10px;
}
	.music-selector .form-check {
		text-align: center;
	}

.text-information {
	font-size: 0.9rem;
}

.filename-message {
	min-height: 30px;
}